@{
    ViewBag.Title = "Home Page";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                
                <div class="header">
                    <h1 class="title">Witaj w serwisie!</h1>
                        
                </div>
                @if (Session["token"] == null)
                {
                    <div class="alert alert-info">
                        <div class="media">
                            <div class="media-left">
                                <img src="~/img/avatar.png" class="media-object" style="width: 60px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="@Url.Action("Index", "Login")" class="alert-link">Zaloguj się!</a></h4>
                                <p>Aby uzyskac mozliwosc przegladania swoich przejazdow, musisz byc zalogowany.</p>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="alert alert-success">
                        <div class="media">
                            <div class="media-left">
                                <img src="~/img/avatar2.png" class="media-object" style="width: 60px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Brawo! Zalogowales sie!</h4>
                                <p>Teraz mozesz przegladac swoje<a href="@Url.Action("Passages", "Home")" class="alert-link"> przejazdy.</a>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
           
        </div>
    </div>


</div>






